input[type=text], select {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #333;
}

h1 {
  text-align : center;
}

h2{
  text-align : center;
}

.imgcontain{
  margin: 300px;
  background-color: red;
}

.img1 {
  width: 50%;
}

.desc {
  width: 50%;
  text-align : center;
  border : 1px solid black;
}

.format {
  text-align : center;
}

.inputsize{
  : 50px;
}

.button {
  background-color: #333; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
}

input[type=number]{
  width : 50px;
}

form{
  text-align : center;
}

#products {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}

#products tr:nth-child(even){background-color: #f2f2f2;}

#products tr:hover {background-color: #ddd;}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.rate_select{
  text-align : center;
  width: 70px;
}

.product_select{
  width: 150px;
}


.table_body td{
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

.table_body tr:nth-child(even) {background-color: #f2f2f2;}

.table_body table {
  border-collapse: collapse;
  width: 100%;
}

.table_body{
  height:100px;
  overflow-y:scroll;
  width: 40%;
}

.table_head{
  width: 40%;
}

.table_head th{
  text-align: left;
  padding: 8px;
}

.table_head table {
  border-collapse: collapse;
  width: 100%;
}

.inputsize input[type=text]{
  width: 200px
}

label{
  display: inline-block;
  width: 150px;
  text-align: right;
}
