{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{%  block nav %}    <!-- Items in navigation bar -->

{%  endblock %}

{% block base %}    <!-- The content of the page  -->

{% if session_numb == "2" %}

<div>
    <h1>Add product</h1>
</div>

<div>
    <form method="POST" action="" enctype="multipart/form-data">
        <label for="productname">Productname: </label>
        <input type="text" id="productname" name="productname" placeholder="Productname.."><br>

        <label for="description">Description: </label>
        <input type="text" id="description" name="description" placeholder="Description.."><br>

        <label for="price">Price: </label>
        <input type="text" id="price" name="price" placeholder="Price.."><br>

        <label for="file">Image: </label>
        <input type="file" id="file" name="file"><br>

        <label for="amount">Amount: </label>
        <input type="text" id="amount" name="amount" placeholder="Amount.."><br>

        <input type="submit" value="Add product">
    </form>
</div>

{% else %}
<div>
    <h1>Access denied</h1>
</div>
{% endif %}
{% endblock %}