{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{% block base %}    <!-- The content of the page  -->
        <div class="search-container">
        <form method="POST" action="">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    {% if data %}
    <table id="products">
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        {% for data in data %}
            <tr>
                <td><a class="active" href="/product/{{ data['pname'] }}">{{ data['pname'] }}</a></td>
                <td>{{ data['description'] }}</td>
                <td>{{ data['amount'] }}</td>
                <td>{{ data['price'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>No products matches the search criteria...</h2>
    {% endif %}


{% endblock %}
