<!DOCTYPE html>     <!-- Navigation bar is created and styled here -->
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>

<ul>    <!-- When refering to this block, dynamically add items to nav bar -->
    {% if session_numb == "2" %}
    <li style="float:left"><a class="active" href="/">Home</a></li>
    <li style="float:left"><a href="/profile/{{ uname }}">{{ uname }}</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
    <div class="dropdown">
        <button class="dropbtn">Manage...<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="/manage_products">Products</a>
            <a href="/manage_users">Users</a>
            <a href="/manage_orders">Orders</a>
        </div>
  </div>
    {% elif session_numb == "1" %}
    <li style="float:left"><a class="active" href="/">Home</a></li>
    <li style="float:left"><a href="/profile/{{ uname }}">{{ uname }}</a></li>
    <li style="float:right"><a href="/logout">Logout</a></li>
    <li style="float:right"><a href="/cart/{{uid}}">Cart</a></li>
    {% else %}
    <li style="float:left"><a class="active" href="/">Home</a></li>
    <li style="float:right"><a href="/login">Login</a></li>

    {% endif %}
    <!--<li style="float:left"><a class="active" href="/">Home</a></li>
    <li style="float:right"><a href="/login">Login</a></li>-->

    {%block nav %} {%endblock%}

</ul>

<div class ="base"> <!-- Every content of the page -->

    <center>
        {% block base%}{%endblock%}
    </center>

</div>

</body>
</html>