{%extends "base.html" %}

{% block base %}    <!-- The content of the page  -->
    {% if product %}
    <table id="products">
        <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Price per product</th>
            <th>Total price</th>
            <th></th>
        </tr>
        {% for product in product %}
            <tr>
                <td><a class="active" href="/product/{{ product['pname'] }}">{{ product['pname'] }}</a></td>
                <td>{{ product['amount'] }}</td>
                <td>{{ product['price'] }}</td>
                <td>{{ product['price'] * product['amount']}}</td>
                <td>
                    <button type="submit">
                        <a href="{{url_for('remove_cart', pid = product['pid'])}}">Delete</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <p class= "format">Total price: {{total_price}} kr</p>
        <button type="submit">
            <a href="{{url_for('send_cart', cartid = cartid)}}">Purchase</a>
        </button>
    </div>
    {% endif %}
{% endblock %}