{% extends "base.html" %}

{%  block nav %}    <!-- Items in navigation bar -->



{%  endblock %}

{% block base %}    <!-- The content of the page  -->

    <H1>Login </H1> <br>
    <form method="POST" action="">
        <!--Username <input type = "text" name= "username"/> <br>
        Password <input type = "text" name = "password"/> <br>
        <input type = "submit" value="Log in"><br>
        -->
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Your user name..."><br>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="Your password"><br>
        <input type="submit" value="Log in"></br>
    </form>
    <p>don't have an account? <a href="/register">Sign up!</a></p>

{% endblock %}
