{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{% block base %}    <!-- The content of the page  -->
    {% if data %}
        <table id="products"><!--men det är orders egentligen-->
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Order number</th>
                <th>Status</th>
                <th>Product(s)</th>
                <th>...</th>
            </tr>
            {% for dict in data %}
                <tr>
                    <td>{{ dict['uid'] }}</td>
                    <td>{{ dict['uname'] }}</td>
                    <td>{{ dict['ordernr'] }}</td>
                    <td>{% if dict['status'] == 0 %}
                            Not sent
                        {% else %}
                            Sent!
                        {% endif %}</td>
                    <td>
                        {% for pid in dict['pid']%}
                           <ul style="background-color: unset">
                               [{{pid}}] {{dict['pname'][loop.index0]}} : {{dict['amount'][loop.index0]}}
                           </ul>
                        {% endfor %}
                    </td>

                    <td>
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: navy">Actions...<i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="{{url_for('send_order', ordernr=dict['ordernr'])}}">Send</a>
                                <a href="{{url_for('cancel_order', ordernr=dict['ordernr'])}}">Cancel</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock %}