{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{%  block nav %}    <!-- Items in navigation bar -->

{%  endblock %}

{% block base %}    <!-- The content of the page  -->

{% if session_numb == "2" %}

<div>
    <h1>Manage products</h1>
</div>

<div>
    <form method="POST" action="">
        <div>
            <label for="product">Product to edit: </label>
            <select name="product_select" class="product_select" id="product" >
                {% for data in productdata %}
                  <option value="{{ data['pid'] }}">{{ data['pname'] }}</option>
                {% endfor %}
        </select><br>

            <label for="add_amount">Add amount to product: </label>
            <input type="text" id="add_amount" name="add_amount" placeholder="Add amount.." class="inputsize"><br>

            <label for="remove_amount">Remove amount from product: </label>
            <input type="text" id="remove_amount" name="remove_amount" placeholder="Remove_amount.." class="inputsize"><br>

            <label for="price">Edit price of product: </label>
            <input type="text" id="price" name="price" placeholder="Price.." class="inputsize"><br>

            <label for="sale">Edit % of sale for product: </label>
            <input type="text" id="sale" name="sale" placeholder="Percent" class="inputsize"><br>

            <input type="submit" name="submit" value="Edit product"><br>
        </div>
        <div>
            <label for="remove_product">Product id to remove from database: </label>
            <select name="remove_product_select" class="product_select" id="remove_product" >
                {% for data in productdata %}
                  <option value="{{ data['pid'] }}">{{ data['pname'] }}</option>
                {% endfor %}
        </select><br>
            <input type="submit" name="submit" value="Remove product"><br>
        </div>
        <br><br>
        <div>
            <input type="submit" name="submit" value="Add a new product"><br>
        </div>
    </form>
</div>

{% else %}

<h1>Access denied</h1>

{% endif %}

{% endblock %}