{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{% block base %}    <!-- The content of the page  -->
    {% if data %}
        <table id="products"><!--men det är users egentligen-->
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone number</th>
                <th></th>
            </tr>
            {% for data in data %}
                <tr>
                   <td>{{ data['uid'] }}</td>
                    <td>{{ data['uname'] }}</td>
                    <td>{{ data['email'] }}</td>
                    <td>{{ data['phone'] }}</td>
                    <td>
                        <button type="submit">
                            <a href="{{url_for('deleteUser', uid = data['uid'])}}">Delete</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock %}