{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{%  block nav %}    <!-- Items in navigation bar -->

{%  endblock %}

{% block base %}    <!-- The content of the page  -->
<!-- Checks if the product is in the database -->
{% if not_exist_flag == 1 %}
<div>
    <h1>Product does not exist</h1>
</div>
<!-- If de product is in the database, returns all the attributes
in the correct places -->
{% else %}
<div>
    <h1>{{ pname }}</h1>
</div>

<div class="divmargin">
    <img src= "{{url_for('static', filename='images/')}}{{image_path}}" alt="Image does not exist" class="img1">
</div>


<div class="divmargin">
    <p class = "desc">Description: {{ description }}</p>
</div>

<div>
    <p class= "format">Amount in stock: {{ amount }}</p>
</div>

<div>
{% if sale_flag %}
    <div>
        <p class= "format"><s>Price: {{ original_price }}kr</s></p>
        <p class="format" style="color: red">Now {{sale}}% off! New price: {{price}}kr</p>
    </div>
{% else %}
    <div>
        <p class= "format">Price: {{ price }}kr</p>
    </div>
{%endif%}
</div>

{% if session_numb == "1" %}
<div>
    <form method="POST" action="">
        Amount:
        <input type="number" id="amount" name="amount" placeholder="Amount">
        <input type="submit" name="submit" value="Add to cart">
    </form>
    <br>
    {% if stock_limit_exceeded == 1 %}
        <p style="color: red;">Stock limit exceeded!</p>
    <br>
    {% endif %}

    {% if rating == None %}
        No rating yet
    {% else %}
        Rating of product: {{rating}}
    {% endif %}
</div>
<br><br><br>

<div>
    <form method="POST" action="">
        Rate the product:
        <select name="rate_select" class="rate_select" >
              <option value="1">1</option>
              <option value="1">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
        </select><br>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" rows="3" cols="50" placeholder="Comment..."></textarea><br>
        <input type="submit" name="submit" value="Rate!">
    </form>
</div> <br>

<h2>Ratings and comments on product</h2> <br>


    {% if ratedata %}
    <div class="table_head">
        <table>
            <col width="10">
            <col width="30">
            <col width="150">
            <tr>
                <th>Username</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </table>
    </div>
    <div class="table_body">
        <table>
            <col width="75">
            <col width="30">
            <col width="150">
                {% for data in ratedata %}
                <tr>
                    <td>{{ data['uname'] }}</td>
                    <td>{{ data['rating'] }}</td>
                    <td>{{ data['comment'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    {% else %}
        No rating yet
    {% endif %}

    <br>
{% elif session_numb == '2' %}
    Rating of product: {{ rating }}
     <br>

<h2>Ratings and comments on product</h2> <br>


    {% if ratedata %}
    <div class="table_head">
        <table>
            <col width="10">
            <col width="30">
            <col width="150">
            <tr>
                <th>Username</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </table>
    </div>
    <div class="table_body">
        <table>
            <col width="75">
            <col width="30">
            <col width="150">
                {% for data in ratedata %}
                <tr>
                    <td>{{ data['uname'] }}</td>
                    <td>{{ data['rating'] }}</td>
                    <td>{{ data['comment'] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    {% else %}
        No rating yet
    {% endif %}

{% endif %}
{% endif %}

{% endblock %}