{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{%  block nav %}    <!-- Items in navigation bar -->



{%  endblock %}

{% block base %}    <!-- The content of the page  -->

    <H1>Welcome {{ uname }} to your profile page</H1>

    <H1>Change profile information </H1> <br>
    <div>
        <form method="POST" action="">
            <label for="uname">Username</label>
            <input type="text" id="username" name="username" placeholder={{uname}}><br>

            <label for="pwd">Password</label>
            <input type="text" id="password" name="password" placeholder={{pwd}}><br>

            <label for="pwd_check">Confirm Password</label>
            <input type="text" id="password_check" name="password_check" placeholder="Confirm password"><br>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder={{email}}><br>

            <label for="phone">Phone number</label>
            <input type="text" id="phone" name="phone" placeholder={{phone}}><br>
            <input type = "submit" value="Update"><br>
        </form>
    </div>

    <br><br><br>

    <h2>Your order history</h2>

    {% if data %}
            <table id="products"><!--men det ar orders egentligen-->
                <tr>
                    <th>Ordernr</th>
                    <th>Status</th>
                    <th>Products and amount</th>
                </tr>
                {% for dict in data %}
                    <tr>
                        <td>{{ dict['ordernr'] }}</td>
                        <td>{% if dict['status'] == 0 %}
                                Not sent
                            {% else %}
                                Sent!
                            {% endif %}
                        </td>
                        <td>
                            {% for pid in dict['pid']%}
                                <ul style="background-color: unset">
                                    {{dict['pname'][loop.index0]}} : {{dict['amount'][loop.index0]}}
                                </ul>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% else %}
        No orders
    {% endif %}

{% endblock %}