{% extends "base.html" %} <!-- Use navigation bar and pre-built skeleton -->

{%  block nav %}    <!-- Items in navigation bar -->

{%  endblock %}

{% block base %}    <!-- The content of the page  -->

    <H1>Create account </H1> <br>
    <div>
        <form method="POST" action="">
            <label for="uname">Username</label>
            <input type="text" id="username" name="username" placeholder="Your username.."><br>

            <label for="pwd">Password</label>
            <input type="text" id="password" name="password" placeholder="Your password..."><br>

            <label for="pwd_check">Confirm Password</label>
            <input type="text" id="password_check" name="password_check" placeholder="Confirm password"><br>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email..."><br>

            <label for="phone">Phone number</label>
            <input type="text" id="phone" name="phone" placeholder="Your phone number..."><br>
            <input type = "submit" value="Create account" width="600px"><br>
        </form>
    </div>

{% endblock %}
